
*.xcuserstate
.DS_Store
*.xcbkptlist
VIN-Bladel.xcodeproj/xcuserdata/jkoreth8180.xcuserdatad/xcschemes/xcschememanagement.plist
VIN-Bladel.xcodeproj/xcuserdata/jkoreth8180.xcuserdatad/xcschemes/xcschememanagement.plist
